#navbar{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(25,33,51);
    
    background-color: rgb(25,33,51);
    border-radius: 50px;
    height: 70px;
}
#options,h3{
    display: flex;
    gap: 15px;
    color: rgb(255,171,74);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    cursor: pointer;
    margin: 12px;
}
#home{
    display: flex;
    gap: 15px;
    color: rgb(255,171,74);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    cursor: pointer;
    margin: 24px;
}
#login{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
    width: 40%;
    height: 240px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    margin-top: 30px;
    border-radius: 12px;
}
form{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
    width: 40%;
    height: 480px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    margin-top: 30px; 
    border-radius: 12px;
}
#username,#password,#submit,#name,#email,#mobile,#description{
    width: 75%;
    height: 30px;
    margin: auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
    font-size: large;
}
#submit{
    cursor: pointer;
    width: 35%;
    height: 40px;
    background-color: firebrick;
    color: white;
    border: 1px solid firebrick;
    border-radius: 8px;
}